.add-form__button-add{
    width: 145px;
    height: 34px;   
    background: #4DD599;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    border: none; 
    margin-right: 9px;   
    transition: all 0.4s;
    border: 1px solid transparent;
}

.add-form__button-add:hover{
    border: 1px solid #4DD599;
    background: transparent;
    color: #000;
    transition: all 0.4s;
}

.add-form__form{
    display: none;
}

.add-form__form.show{
    display: block;
}

.add-form__button.hide{
    display: none;
}
.add-form__button-cancel{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15px;
    color: #9C9C9C;
    width: 90px;
    height: 34px;
    background: #F4F6F8;
    border-radius: 4px;
    border: none;
    transition: all 0.4s;

}

.add-form__button-cancel:hover{
    background: #99acbe;
    transition: all 0.4s;
    color: #fff;
}

.add-form input{
    margin-bottom: 16px;
    width: 100%;
    height: 38px;
    padding-left: 11px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
    letter-spacing: 0.15px;
    color: #C7C7C7;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all 0.4s;
}

.add-form input:focus{
    border: 1px solid #4DD599;
    transition: all 0.4s;
}

.add-form input::placeholder{
    color: #C7C7C7;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
    letter-spacing: 0.15px;
}

.add-form__button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #B4B4B4;
    background: none;
    border: none;
    padding: 0;
}

.add-form__button svg{
    margin-right: 19px;
    margin-left: 2px;
    margin-bottom: -2px;
}

.add-form__button svg path{
    stroke: #B4B4B4;
    transition: 0.4s;

}

.add-form__button:hover {
    color: #000;
    transition: 0.4s;
}

.add-form__button:hover svg path{
    stroke: #000;
    transition: 0.4s;
}