.login__title{
    margin: 0;
    margin-bottom: 0px;
}

h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
}

.private-office .wrapp{
    display: flex;
}

.private-office .buttons{
    display: flex;

}

.private-office {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
}
.private-office input{
    width: 100%;
    height: 37px;    
    margin-right: 20px;
    padding-left: 11px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    letter-spacing: 0.15px;
    color: #000;
    background: #FFFFFF;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 300px;
    display: block;
    
}

.private-office input::placeholder{
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    letter-spacing: 0.15px;
}

.private-office input:focus{
    border: 1px solid #4DD599;
    transition: all 0.4s;
}

.private-office  .active {
    width: 100%;
    margin-bottom: 10px;
    height: 37px;    
    background: #4DD599;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    border: none;
    border: 1px solid transparent;
    width: 300px;

}

.private-office  .active:hover{
    border: 1px solid #4DD599;
    background: transparent;
    color: #000;
    transition: all 0.4s;
}

.private-office  button {
    width: 100%;
    height: 37px;    
    background: transparent;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000;
    border: none;
    border: 1px solid #000;
    width: 100px;
}

.private-office  button:hover{
    background: #000;
    color: #FFFFFF;
    border: 1px solid transparent;
}

.private-office .buttons button{
    width: 140px;
}

.private-office .buttons button:first-child{
    background: #4DD599;
    border: none;
    color: #fff;
    margin-right: 20px;
    border: 1px solid transparent;

}

.private-office .buttons button:first-child:hover{
    background: transparent;
    border: 1px solid #4DD599 !important;
    border: none;
    color: #4DD599;
    margin-right: 20px;
}

.successful{
    margin-top: 20px;
}