.side-panel{
    width: 200px;
    background: #F4F6F8;
    padding: 57px 19px 0px 20px;
    box-sizing: border-box;
}


.side-panel__button-all{
    padding: 8px 6px 10px;
    height: 37px;
    margin-bottom: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}
.side-panel__button-all-folder button svg path{
    stroke: #868686;
    transition: 0.4s;

}

.side-panel__button-all-folder button:hover {
    color: #000;
    transition: 0.4s;
}

.side-panel__button-all-folder button:hover svg path{
    stroke: #000;
    transition: 0.4s;
}

.side-panel__button-all.active{
    padding: 8px 6px 10px;
    height: 37px;
    box-sizing: border-box;
}
.side-panel__button-all a, .side-panel__button-all button{
    font-family: Roboto;
    cursor: pointer;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background: none;
    border: none;
    align-items: center;
    margin-bottom: 28px;
}

.side-panel__button-all-folder{
    padding-left: 6px;
}
.side-panel__button-all-folder a, .side-panel__button-all-folder button{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.15px;
    color: #767676;
    background: none;
    border: none;
    align-items: center;
}

.side-panel__button-all-folder a svg, .side-panel__button-all-folder button svg,
.side-panel__button-all a img, .side-panel__button-all button img{
    margin-right: 6px;
    width: 13px;
    height: 13px;
    margin-bottom: -2px;
}

.folder-modal{
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 235px;
    height: 148px;
    text-align: center;
    padding-top: 18px;
    position: relative;
    margin-top: 13px;
    opacity: 0;
    transition: 0.4s;
    padding-right: 18px;
    padding-left: 18px;
    box-sizing: border-box;
}

.folder-modal.show{
    opacity: 1;
    transition: 0.4s;
    z-index: 10;

}



.folder-modal input{
    width: 100%;
    height: 32px;
    padding-left: 11px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    letter-spacing: 0.15px;
    color: #C7C7C7;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    
}

.folder-modal input::placeholder{
    color: #C7C7C7;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    letter-spacing: 0.15px;
}

.folder-modal input:focus{
    border: 1px solid #4DD599;
    transition: all 0.4s;
}

.folder-modal button {
    width: 100%;
    height: 37px;    
    background: #4DD599;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    border: none;
    border: 1px solid transparent;

}

.folder-modal button:hover{
    border: 1px solid #4DD599;
    background: transparent;
    color: #000;
    transition: all 0.4s;
}

.user{
    font-family: Roboto;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    background: none;
    border: none;
    align-items: center;
    margin-bottom: 28px;
}

.user a{
    text-decoration: none;
    margin-bottom: 0;
}

.user svg {
    margin-left: 10px;
    margin-top: 2px;
    fill: #868686;
    transition: 0.4s;
}

.user svg:hover {

    fill: #000;
    transition: 0.4s;
}

.cypcle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
} 

.folder-cyrcle__color-block{
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 13px;
    justify-content: space-between;
}

.cypcle-grey{
    background: #C9D1D3;
}
.cypcle-green{
    background: #42B883;
}
.cypcle-blue{
    background: #64C4ED;
}
.cypcle-pink{
    background: #FFBBCC;
}
.cypcle-red{
    background: #FF6464;
}
.cypcle-black{
    background: #09011A;
}
.cypcle-purple{
    background: #C355F5;
}
.cypcle-lime{
    background: #B6E6BD;
}

.close{
    position: absolute;
    top: -9px;
    right: -10px;
    cursor: pointer;
}

.cypcle.selected{
    border: 2px solid #525252;
    box-sizing: border-box;
}