.workspace__block > .workspace{
    width: 500px;
    padding: 30px 60px 40px 60px;
    box-sizing: border-box;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 25px 1px #858687; 
    box-shadow: 0px 0px 25px -11px #858687;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: none;
}

.no-tasks{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;

    top: 45%;
    left: 37%;
    position: absolute;
    color: #C9D1D3;
}

.workspace__block{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 56px 57px;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    position: relative;   
}

.workspace{
    width: 500px;
    padding: 50px 0px 40px 60px;
}

.workspace__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #64C4ED;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
}

.workspace__title h1{
    margin: 0;
}

.workspace svg{
    margin-left: 14px;
    fill: #DFDFDF;
    transition: 0.4s;
}

.workspace svg:hover{
    fill: #000;
    transition: 0.4s;
    pointer-events:all;

}

.workspace__line{
    width: 100%;
    height: 1px;
    margin-bottom: 31px;
    background: #F2F2F2;
}