.folder-item__cyrcle{

    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
}

.folder-item__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.15px;
    color: #000000;
    margin-right: 20px;
    align-items: center;
}
.folder-item__title p{

    text-overflow: ellipsis;
    overflow: hidden; 
    width: 89px; 

    white-space: nowrap;
}
.folder-item__title{
    position: relative;
}
.folder-item__title span{
    font-size: 6px;
    font-family: Roboto;
    font-weight: bold;
    background: transparent;
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
}

.folder-item{
    align-items: center;
    padding-left: 7px;
    padding-right: 14px;
    justify-content: space-between;
    box-sizing: border-box;
    width: 160px;
    height: 37px;
}
.folder-item:hover{
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-radius: 4px;
}
.folder-items{
    margin-bottom: 30px;

}

.folder-items a {
    text-decoration: none;
}
.active{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    
}

.flex{
    display: flex;
}

.cypcle-grey{
    background: #C9D1D3;
}
.cypcle-green{
    background: #42B883;
}
.cypcle-blue{
    background: #64C4ED;
}
.cypcle-pink{
    background: #FFBBCC;
}
.cypcle-red{
    background: #FF6464;
}
.cypcle-black{
    background: #09011A;
}
.cypcle-purple{
    background: #C355F5;
}
.cypcle-lime{
    background: #B6E6BD;
}