.login__title{
    margin: 0;
    margin-bottom: 0px;
}

.login__pretitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
}



.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.login-page input{
    width: 100%;
    height: 32px;
    padding-left: 11px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    letter-spacing: 0.15px;
    color: #000;
    background: #FFFFFF;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 300px;
    display: block;
    
}

.login-page input::placeholder{
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    letter-spacing: 0.15px;
}

.login-page input:focus{
    border: 1px solid #4DD599;
    transition: all 0.4s;
}

.login-page .active {
    width: 100%;
    margin-bottom: 10px;
    height: 37px;    
    background: #4DD599;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    border: none;
    border: 1px solid transparent;
    width: 300px;

}

.login-page .active:hover{
    border: 1px solid #4DD599;
    background: transparent;
    color: #000;
    transition: all 0.4s;
}

.login-page button {
    width: 100%;
    height: 37px;    
    background: transparent;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000;
    border: none;
    border: 1px solid transparent;
    width: 300px;
    border: 1px solid #000;


}

.login-page button:hover{
    background: #000;
    color: #FFFFFF;
    border: 1px solid transparent;
}