*{
    padding: 0;
    margin: 0;
}

h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #979797;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.item-list{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.item-list img{
    cursor: pointer;
}

.item-list svg{
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 20px;
    fill: #DFDFDF;
    transition: 0.4s;
}



.item-list .edit-svg{
    position: absolute;
    right: 40px;
    cursor: pointer;
    transition: 0.4s;
    fill: #DFDFDF;
}

.item-list .edit-svg:hover{
    fill: #000;
    transition: 0.4s;
    right: 40px;
}


.item-list .checked{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.line-through{
    text-decoration: line-through;
}

.item-list .important-svg{
    right: 0px;
    fill: #fff;
}